		html,
		body {
			height: 100%;
			background-color: black;
		}

		aside {
			height: 100%;
			width: 250px;
			position: fixed;
			z-index: 1;
			top: 10%;
			left: -100%;
			background-color: rgb(22, 22, 22);
			overflow-x: hidden;
			transition: 0.5s;
		}

		.openaside {
			left: 0%;
		}

		aside div {
			margin: auto;
			margin-top: 5%;
			width: 95%;
			text-align: center;
			color: #cac8c8;
			overflow: hidden;
		}
		aside div img {
			width: 200px;
			height: 200px;
		}
		aside div h2, aside div h3 {
			margin: 0%;
			width: 100%;
			height: 50px;
			font-size: 12pt;
			line-height: 50px;
		}
		aside div h2 {
			margin-top: 5%;
			font-size: 20pt;
		}
		aside a {
			margin: auto;
			width: 100%;
			font-size: 30pt;
			color: white;
		}
		header {
			width: 100%;
			height: 10%;
			position: fixed;
			top: 0%;
			left: 0%;
			line-height: 0%;
			overflow: hidden;
			background-color: #505050;
			text-align: center;
		}

		header * {
			height: 100%;
			overflow: hidden;
		}

		header>img {
			height: 100%;
			position: absolute;
			left: 0%;
		}

		header a img {
			height: 80%;
			width: 30%;
			position: absolute;
			top: 10%;
			left: 35%;
		}

		article {
			position: fixed;
			top: 10%;
			height: 90%;
			width: 100%;
			background-color: rgb(255, 255, 255);
			overflow: auto;
		}