article {
    color: white;
    text-align: center;
    font-size: 12pt;
}

section {
    width: 100%;
    margin: 0px;
    height: 33.33%;
    background-color: #3d3b3b;
    transition: 0.5s;
    font-size: 30pt;
}
.middlespan {
    position: relative;
    top: 40%;
    transition: 0.5s;
}
.topspan {
    position: relative;
    top: 0%;
    transition: 0.5s;
}

.match {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 0%;
    background-color: white;
    transition: 0.5s;
    overflow: hidden;
    color: black;
}
.openmatch {
    height: 90%;
    transition: 0.5s;
}
.closesection {
    height: 10%;
    transition: 0.5s;
}
.hidesection {
    height: 0%;
    transition: 0.5s;
}
article a:link, article a:visited, article a:hover {
    color: white;
    text-decoration: none;
}

.info {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 0%;
    background-color: gray;
    transition: 0.5s;
    overflow: hidden;
    color: black;
}
.info section {
    height: 50%;
    background-color: gray;
    overflow: hidden;
}
.info section:first-child {
    border-bottom: 1px solid rgb(99, 98, 98);
}
.openinfo {
    height: 23.33%;
    transition: 0.5s;
}
