header {
	border-bottom: 5px solid black;
}

article {
	border: 5px solid orange;
	height: 500px;
}

section div {
	border: 3px solid gray;
	width: 50%;
	margin: auto;
	margin-top: 10%;
	text-align: center;
}

footer {
	border-top: 5px solid black;
}