

aside {
	float: left;
	width: 15%;
	height: 600px;
	background-color: blue;
}

aside ul {
	margin: 20px;
	padding: 0px;
	list-style-type: none;
}

article {
	width: 85%;
	height: 600px;
	overflow: scroll;
	background-color: yellow;
	text-align: center;
}

article a:hover {
	color: white;
}

section {
	float: left;
	margin: 1px;
	padding: 1%;
	width: 30%;
	height: 200px;
	background-color: gray;
}

section span {
	float: left;
	font-size: 8pt;
}